@model IEnumerable<SM.UserObjects.UserVM>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        @{ Html.RenderAction("UserView", "Admin");}
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">User List</h4>
                    </div>
                    <a href="@Url.Action("AddEditUser", "Admin")" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Add User</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive rounded mb-3">

                        <table class="data-tables table mb-0 tbl-server-info" id="UsersList" name="UsersList">
                            <thead>
                                <tr class="ligth">
                                    <th hidden>UserID</th>
                                    <th>Profile</th>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Email</th>
                                    <th>Country</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th>Join Date</th>
                                    <th style="min-width: 100px">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var d in Model)
                                {
                                    <tr>
                                        <td hidden>@d.UserID</td>
                                        <td class="text-center">
                                            <img class="rounded img-fluid avatar-40"
                                                 src="../assets/images/user/01.jpg" alt="profile">
                                        </td>
                                        <td>@d.UserName</td>
                                        <td>@d.MobileNo</td>
                                        <td>@d.Email</td>
                                        <td>@d.CountryName</td>
                                        <td>@d.UserRoleName</td>
                                        <td>@d.UserStatus</td>
                                        <td>@d.EnteredDate</td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a class="badge badge-info mr-2" data-placement="top" title="" data-original-title="View"
                                                   data-toggle="modal" onclick="GetUserProfile(@d.UserID)"><i class="ri-eye-line mr-0"></i></a>
                                                <a class="btn btn-sm bg-success" data-toggle="tooltip" data-placement="top" title=""
                                                   data-original-title="Edit" href="@Url.Action("AddEditUser", "Admin", new { UserID = @d.UserID,TypeID=1 })"><i class="ri-pencil-line mr-0"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/PageJs/UsersConfig.js"></script>