@model IEnumerable<SM.UserObjects.StudentVM>
@{
    ViewBag.Title = "SendApplicationtoSponser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        @{ Html.RenderAction("StudentView", "Form");}
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Send Application to Sponser</h4>
                    </div>
                    @{ Html.RenderAction("FormButton", "Admin");}
                </div>
                <div class="card-body">
                    <form action="page-list-customers.html" data-toggle="validator">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Sponser :</label>
                                    <select id="cmbSponser" class="selectpicker form-control" data-style="py-0" onchange="FillStudentsBySponser()"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12">
                    <div class="table-responsive rounded mb-3">
                        <table class="data-tables table mb-0 tbl-server-info">
                            <thead class="bg-white text-uppercase">
                                <tr class="ligth ligth-data">
                                    <th hidden>StudentID</th>
                                    <th>Student Name</th>
                                    <th>Gender</th>
                                    <th>Country</th>
                                    <th>School Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="ligth-body" id="studentDetails">
                                @foreach (var d in Model)
                                {
                                    <tr>
                                        <td hidden>@d.StudentID</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                @if (d.ImageName != "" && d.ImageName != null)
                                                {
                                                    <img src="~/Uploads/Student/@d.ImageName" class="img-fluid rounded avatar-50 mr-3" alt="image">
                                                }
                                                else
                                                {
                                                    <img src="~/assets/images/user/11.png" class="img-fluid rounded avatar-50 mr-3" alt="image">
                                                }
                                                <div>@d.StudentName</div>
                                            </div>
                                        </td>
                                        <td>@d.GenderName</td>
                                        <td>@d.CountryName</td>
                                        <td>@d.SchoolName</td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
                                                <a class="badge badge-info mr-2" data-placement="top" title="" data-original-title="View"
                                                   data-toggle="modal" onclick="GetStudent(@d.StudentID)"><i class="ri-eye-line mr-0"></i></a>
                                                <button type="button" class="btn btn-primary btn-sm mr-2" onclick="AddToGrid(event)">Add to Grid</button>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-12">
                    <hr />
                    <p>Assigned Students</p>
                    <hr />

                    <div class="table-responsive rounded mb-3">
                        <table class="data-table table mb-0 tbl-server-info">
                            <thead class="bg-white text-uppercase">
                                <tr class="ligth ligth-data">
                                    <th class="thStudentID" hidden>StudentID</th>
                                    <th>Student Name</th>
                                    <th>Country</th>
                                    <th>Added Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="ligth-body" id="SponserStudentDetial" name ="SponserStudentDetial">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Page end  -->
        </div>
    </div>
</div>

<script async src="~/Scripts/PageJs/SendApplicationSponser.js"></script>
