@model IEnumerable<SM.UserObjects.StudentVM>
@{
    ViewBag.Title = "StudentDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        @{ Html.RenderAction("StudentView", "Form");}
        <div class="col-lg-12">
            <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                <div>
                    <h4 class="mb-3">Student Details</h4>
                </div>
                <a href="@Url.Action("AddEditStudentDetails", "Form")" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Add Student</a>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive rounded mb-3">
                <table class="data-tables table mb-0 tbl-server-info">
                    <thead class="bg-white text-uppercase">
                        <tr class="ligth ligth-data">
                            <th hidden>StudentID</th>
                            <th>Student Name</th>
                            <th>Gender</th>
                            <th>City</th>
                            <th>School Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="ligth-body">
                        @foreach (var d in Model)
                        {
                            //"@(Url.Action(item.Action, item.Controller) == Request.Url.AbsolutePath ? "active" : string.Empty) <tr class="@if (d.bIsActive == false) { "table-secondary" }@">"
                            <tr class="@(d.bIsActive == false ? "table-secondary" : string.Empty)">
                                <td hidden>@d.StudentID</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        @if (d.ImageName != "" && d.ImageName != null)
                                        {
                                            <img src="~/Uploads/Student/@d.ImageName" class="img-fluid rounded avatar-50 mr-3" alt="image">
                                        }
                                        else
                                        {
                                            <img src="~/assets/images/user/11.png" class="img-fluid rounded avatar-50 mr-3" alt="image">
                                        }
                                        <div>
                                            @d.StudentName
                                            <p class="mb-0"><small>@d.CountryName</small></p>
                                        </div>
                                    </div>
                                </td>
                                <td>@d.GenderName</td>
                                <td>@d.City</td>
                                <td>@d.SchoolName</td>
                                <td>@d.Status</td>
                                <td>
                                    <div class="d-flex align-items-center list-action">
                                        <a class="badge badge-info mr-2" data-placement="top" title="" data-original-title="View"
                                           data-toggle="tooltip" onclick="GetStudent(@d.StudentID)"><i class="ri-eye-line mr-0"></i></a>
                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                           href="@Url.Action("AddEditStudentDetails", "Form", new { StudentID = @d.StudentID,TypeID=1 })"><i class="ri-pencil-line mr-0"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Page end  -->
</div>

<script async src="~/Scripts/PageJs/Student.js"></script>

